/* -----------------------------------
	Typography
--------------------------------------------------------------------------------------------- */

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #4aaaa5
}

h1 {
    font-size: 1.667em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.333em;
}

h4 {
    font-size: 1.222em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.778em;
}

p {
    line-height: 34px;
    margin-bottom: 20px;
}

a {
    color: #4aaaa5;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

a:hover {
    color: #000;
}

/* -----------------------------------
	Layout
--------------------------------------------------------------------------------------------- */

body {
    background: url(../images/background.png) center top;
}

.container {
    width: 100%;
    max-width: 980px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* Header */

.main-header {
    width: 100%;
    background-color: #FFF;
    border-bottom: 2px solid #ccc;
    margin-bottom: 38px;
}

.main-header .container {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 0px;
}

.logo {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #4aaaa5;
    color: #FFF;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.667em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 30px 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.logo:hover {
    background-color: #777;
    color: #fff;
}

/* Navigation */

.main-nav {
    display: block;
    float: left;
    width: 100%;
}

.main-nav ul {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.main-nav ul li {
    display: inline-block;
    border-left: 1px solid #EFEFEF;
    box-sizing: border-box;
    padding: 0 15px;
}

.main-nav ul li:first-of-type {
    border-left: 0px;
}

.main-nav ul li a {
    color: #777;
    font-size: 18px;
    text-decoration: none;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.main-nav ul li a:hover {
    color: #4aaaa5;
}

/* Main Content */

.main-content {
    display: block;
    float: left;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 40px 30px;
}

h1.page-title {
    border-bottom: 3px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 29px;
}

/* Sidebar */

.sidebar {
    float: left;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 30px;
}

.sidebar h4 {
    border-bottom: 2px solid #eee;
    margin-bottom: 23px;
    padding-bottom: 21px;
}

.social a {
    display: inline-block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    color: #FFF;
    font-size: 2.6em;
    text-align: center;
    line-height: 60px;
    margin-right: 5px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.social a:last-of-type {
    margin-left: 0px;
}

a.github {
    background-color: #333;
}

a.linkedin {
    background-color: #007AB9;
}

a.stackoverflow {
    background-color: #FFA500;
}

.social a:hover {
    background-color: #4aaaa5;
}

/* Footer */

.main-content {
    min-height: calc(100vh - 272px);
  }

.main-footer {
    width: 100%;
    height: 94px;
    text-align: center;
    line-height: 94px;
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    margin-top: 40px;
}

.main-footer small {
    color: rgba(255, 255, 255, .8);
    font-size: 0.667em;
}

/* -----------------------------------
	About
--------------------------------------------------------------------------------------------- */

.profile-photo {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* -----------------------------------
	Portfolio
--------------------------------------------------------------------------------------------- */

.portfolio-gallery {
    width: 100%;
    padding-top: 20px;
}

.portfolio-item {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 56px;
}

.portfolio-item:last-of-type {
    margin-bottom: 0;
}

.portfolio-item span {
    position: absolute;
    bottom: 9px;
    z-index: 20;
    width: 100%;
    height: 60px;
    background-color: rgba(74, 170, 165, 1);
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-size: 1.222em;
    line-height: 60px;
    color: #FFF;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.portfolio-item:hover span {
    line-height: 205px;
    height: 100%;
    bottom: 0;
    background-color: rgba(74, 170, 165, 0.9);
}

.portfolio-item img {
    position: relative;
    width: 100%;
    z-index: 10;
    display: block;
    margin: 0;
}

/* -----------------------------------
	Contact
--------------------------------------------------------------------------------------------- */

.contact-form {
    line-height: 33px;
    padding-top: 2px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    font-size: 0.778em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.contact-form input {
    height: 35px;
}

.contact-form textarea {
    height: 200px;
}

.contact-form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#a9a9a9;
}
.contact-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#a9a9a9;
   opacity:  1;
}
.contact-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#a9a9a9;
   opacity:  1;
}
.contact-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#a9a9a9;
}
.contact-form input::-ms-input-placeholder { /* Microsoft Edge */
    color:#a9a9a9;
}

.btn-submit {
    background-color: #4aaaa5;
    border: 0;
    color: #FFF;
    border-radius: 0;
    width: 116px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1em;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #777;
}

/* Disables animations on page load */
body.preload *{
    animation-duration: 0s;
    -webkit-animation-duration: 0s;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s;
}

/* -----------------------------------
	Responsive CSS
--------------------------------------------------------------------------------------------- */

/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {

    /* Header */

    .main-header {
        position: relative;
        overflow: hidden;
        height: 90px;
    }
    .main-header .container {
        padding: 0 10px;
    }
	.logo {
        position: absolute;
        top: 0;
        left: 10px;
        width: auto;
        line-height: 90px;
        padding: 0 36px;
    }

    /* Navigation */

    .main-nav {
        width: auto;
        float: right;
    }
    
    .main-nav ul {
        margin-top: 33px;
    }
    
    /* Portfolio */
    
    .portfolio-item {
        display: block;
        position: relative;
        width: 45%;
        margin-bottom: 56px;
    }
    
    .portfolio-item:nth-child(odd) {
        float: left;
    }
    
    .portfolio-item:nth-child(even) {
        float: right;
    }
    
    .profile-photo {
        width: 200px;
        float: left;
        margin-right: 25px;
        margin-bottom: 10px;
    }
}

/* Medium devices (desktops, 992px and up) @screen-md-min */
@media (min-width: 992px) {
    
    /* Header */

    .main-content {
        width: 68%;
        max-width: 650px;
    }
    
    /* Sidebar */

    .sidebar {
        float: right;
        width: 29%;
        max-width: 270px;
        margin-top: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* Navigation */

    .main-nav ul li:last-of-type {
        padding-right: 0;
    }
    
    /* Portfolio */

    .portfolio-item {
        display: block;
        position: relative;
        width: 274px;
        height: 205px;
        margin-bottom: 56px;
    }
    
    .portfolio-item:nth-child(odd) {
        float: left;
    }
    
    .portfolio-item:nth-child(even) {
        float: right;
    }
}